.navbar{
    background-color:#76BFA2;
    display:flex;
    flex-direction: row;
    justify-content: end;
   gap: 1rem;
   padding: 30px;
}

.navbar-p{
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-p:hover{
    text-decoration:underline;
    opacity: 0.5;
  transition: 0.2s;
}